/*分页*/
.current {
    background-color: rgba(0, 255, 150, 0.5);
    color: black;
}

.prev, .num, .next, .current {
    width: auto;
    height: auto;
    margin: 4px;
    padding: 1px 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

/*分页结束*/